.education-xp {
  padding: 20px;
}
.edu-xp-chart-info {
  margin: 0 auto;
  width: 90%;
}
.edu-xp-info {
  display: inline-block;
}
.edu-xp-chart {
  display: inline-block;
}
.edu-text-title {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  transition: opacity 0.9s;
  -webkit-transition: opacity 0.9s;
}
