/* Reset default margins  */
.edu-xp-info p {
  margin: 0;
}
.education-xp {
  padding: 30px 20px;
}
.edu-xp-chart-info {
  margin: 0 auto;
  width: 90%;
}
.edu-xp-info {
  background-color: #FFF;
  display: none;
  padding: 30px 30px 40px 30px;
  -webkit-animation: fade-in-right 0.5s ease-in-out both;
	        animation: fade-in-right 0.5s ease-in-out both;
}
.edu-xp-info.edu-info-visible {
  border-radius: 10px;
  display: inline-block;
  height: 100%;
  opacity: 0.94;
  vertical-align: top;
  width: 40%;
}
.edu-xp-chart {
  margin-right: 10px;
}
.edu-text-title {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.circle-hover-lines {
  opacity: 0.2;
}
.edu-header {
  margin-bottom: 40px;
  width: 100%;
}
.edu-xp-place {
  color: #A6A6A6;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: right;
}
.edu-xp-time {
  display: block;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: right;
}
.edu-xp-title {
  color: #8971A2;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
.title-info-edu {
  color: #8971A2;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  margin: 10px auto;
  text-transform: capitalize;
}
p.text-edu-info {
  color: #737373;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-bottom: 20px; /* apply margin that has been resetted */
  text-transform: capitalize;
}
/* did not do class for circles because i think the code is cursed and i am affraid to touch it again */
.group-circle-eduXP circle {
  transition: opacity 0.5s, fill 0.5s, r 0.5s;
  -webkit-transition: opacity 0.5s, fill 0.5s, r 0.5s;
}

/* ANIMATIONS */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
