h3,
h5 {
  margin: 0; /* reset default */
}
.projects-infos {
  display: inline-block;
  padding: 0 20px;
  width: 25%;
}
.project-title {
  color: #CDB2E8;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  text-transform: uppercase;
}
.project-desc {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.project-links {
  color: #8971A2;
  text-align: right;
}
.project-links .material-symbols-outlined {
  font-size: 35px;
  vertical-align: middle;
}
.project-links .git {
  font-size: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
.project-tech-used {
  color: #D1CCD6;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.project-tech-used::after {
  background-color: #CDB2E8;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
}
.projects-display {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 60%;
}
.project-card,
.card-empty {
  background-color: #F8FAF9;
  border-radius: 10px;
  contain: content;
  cursor: pointer;
  display: inline-block;
  min-height: 250px;
  width: 45%;
}
.card-empty {
  contain: content;
  background-color: transparent;
}
.project-card-pj {
  /* contain: content; */
}
.more-projects {
  background-color: transparent;
  box-sizing: border-box;
  vertical-align: super;
}
.more-link,
.previous-link {
  color: #8971A2;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
.more-link::after,
.previous-link::before {
  display: inline-block;
  vertical-align: middle;
}
.more-link::after {
  content: '>';
  margin-left: 10px;
}
.previous-link::before {
  content: '<';
  margin-right: 10px;
}
.project-row-0 {
  margin-bottom: 10px;
}
.project-card-0 {
  margin-right: 10px;
}
.project-image {
  margin: 10px auto;
}
.project-image img {
  height: 190px;
  object-fit: cover;
  width: 240px;
}
.project-card-title {
  color: #8971A2;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 15px;
  margin: 0 10px;
  text-transform: uppercase;
}
.project-label {
  fill: #FFF;
  font-family: 'Roboto Mono', monospace;
  font-size: 21px;
  text-transform: uppercase;
}
